.bg-plomo {
  background-color: #f7f7f7;
}

.bg-color-interfondo {
  background-color: #00a542;
}

.card {
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.39);
}

.line {
  width: 100%;
  height: 3px;
  border: solid 1px #dddddd;
  margin-bottom: 20px;
}

.tabs {
  border-radius: 10px;
  background-color: #00a542; 
  padding: 3px !important;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden; 
  overflow-y: auto;
}

.tabs .tab a{
  border-radius: 6px;
  background-color: #00a542;
  z-index: 10000;
  color: white !important;
}

.tabs .tab .active {
  background-color: white !important;
  color: #00a542 !important;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: transparent;
  will-change: left, right;
}

.porcentajeGreen {
  padding: 4px;
  margin-left: 7px;
  border-radius: 5px;
  background-color: #c8f795;
  color: #417505;
}

.porcentajeRed {
  padding: 4px;
  margin-left: 7px;
  border-radius: 5px;
  background-color: #c8f795;
  color: #417505;
}

.colorGreen {
  color: #009b3a;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.detail .btn-add:active, .detail .btn-add:hover{
  background-color: #00a542 !important;
}