.logo {
  width: 100px;
  height: 50px;
}
.green1 {
  background-color: #00a542;
}
.home .padding {
  padding: 1rem;
}
.home .margin{
  margin: 0.5rem;
}
.btn{
  padding:0 1rem;
}
.border-item{
  border-radius: 5px;
  border: solid 2px #2ec8ff;
  padding: 0.5rem;
  line-height: 1;
  margin:2px 0;
}
.home h6{
  font-weight: 700;
}
.home .cost{
  font-weight: 700;
}
