<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interfondos</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="../css/detalleFondo.css">
</head>
<body class="bg-plomo">
    <nav class="bg-color-interfondo detail">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Interfondos</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="index.html">Tus Fondos</a></li>
          <li><a href="index.html">Recomendaciones</a></li>
          <li><a href="index.html">Preguntas Frecuentes</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="index.html">Tus Fondos</a></li>
          <li><a href="index.html">Recomendaciones</a></li>
          <li><a href="index.html">Preguntas Frecuentes</a></li>
        </ul>
      </div>
    </nav> 
  <div class="container detail">
    <div class="row">
      <h5 class="valign-wrapper"><a href="home.html"> <i class="medium material-icons">chevron_left</i></a>Detalle del fondo</h5>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <p>IF Libre Disponibilidad Soles</p>
                <span>AQ47883</span>
              </div>
              <div class="col s4">
                <p class="right-align">S/. 2435.04</p>
                <span class="right-align">Saldo a la fecha</span>
              </div>  
            </div>
            <div class="col s12 line"></div>
            <div class="row">
              <div class="col s8">
                <p>Cuotas:</p>
              </div>
              <div class="col s4">
                <p class="right-align">8.5369</p>
              </div>  
            </div>
            <div class="col s12 line"></div>
            <div class="row">
              <div class="col s8">
                <p>Valor cuota:</p>
              </div>
              <div class="col s4">
                <p class="right-align">240.2113</p>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active"  href="#test1">Rentabilidad</a></li>
          <li class="tab col s3"><a href="#test2">Movimientos</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s5">
                <p>Desde el inicio</p><br>
                <p>Último mes<span>(Enero 2018)</span></p> 
              </div>
              <div class="col s7">
                <p class="right-align"><span class="colorGreen">S/. +35.41</span><span class="porcentajeGreen">+ 2.08%</span></p><br>
                <p class="right-align"><span class="colorGreen">s/. +77.43 </span> <span class="porcentajeGreen">+ 3.18%</span> </p>
              </div>  
            </div>
            <div class="flex">
              <button class="btn valign-wrapper bg-color-interfondo btn-add flex-row">Ver más<i class="material-icons">expand_more</i></button>
            </div>
          </div>
          
        </div>
      </div>
      <div id="test2" class="col s12">Test 2</div>
    </div> 
    <div class="row">
      <div class="col s12">
        <ul class="collapsible card" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              Condiciones de envio
              <div class=" right"><i class="material-icons">expand_more</i></div> 
            </div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s7">
                  <p>Riesgo:</p>
                  <p>Tiempo mínimo de permanencias:</p>
                  <p>Si retiras antes:</p><br>
                  <p>Operaciones por internet:</p>
                  <p>Monto mínimo para permanecer:</p>
                  <p>Asignación de VC para suscripciones o retiros:</p><br>
                  <p>Pago de retiros:</p>
                </div>
                <div class="col s5">
                  <p class="right-align">Muy bajo</p>
                  <p class="right-align">7 días</p>
                  <p class="right-align">1.00% + IGV del monto retirado</p>
                  <p class="right-align">limitadas</p>
                  <p class="right-align">s/. 3 000</p>
                  <p class="right-align">Se asignará el VC del día anterior</p>
                  <p class="right-align">Se realizarán al día siguiente de solicitarlos</p>    
                </div> 
              </div> 
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible card" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              ¿En qué invierte este fondo?
              <span class=" right"><i class="material-icons">expand_more</i></span> 
            </div>
            <div class="collapsible-body">
              <div class="row">
                
              </div> 
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <h5 class="center-align">¿Te gustaría saber cómo mejorar la rentabilidad de tus fondos?</h5>
            <div class="flex">
              <button class="btn valign-wrapper bg-color-interfondo btn-add flex-row">¡Descubrelo Aquí!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <!-- Conexión con Firebase -->
  <script src="../js/conexion.js"></script>
  <!--Login JS personalizado-->
  <script src="../js/detalleFondo.js"></script>
</body>
</html>