<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css">
  <title>Interseguros</title>
</head>

<body>
  <nav>
    <div class="home">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Interfondos</a>
      </div>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="sass.html">Tus Fondos</a>
        </li>
        <li>
          <a href="badges.html">Recomendaciones</a>
        </li>
        <li>
          <a href="collapsible.html">Preguntas frecuentes</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="user-view color-navbar">
            <a href="#!user">
              <img class="circle" src="../assets/images/user.png">
            </a>
            <a href="#!name">
              <span class="white-text name">Juan Rodriguez</span>
            </a>
            <a href="#!email">
              <span class="white-text email">Cerrar Sesión</span>
            </a>
          </div>
        </li>
        <li>
          <a href="sass.html">Tus Fondos</a>
        </li>
        <li>
          <a href="badges.html">Recomendaciones</a>
        </li>
        <li>
          <a href="collapsible.html">Preguntas frecuentes</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--
  <main class="container home">
    <div class="row">
      <div class="col s12">
          <h5>Tus fondos</h5>
          <p>Tienes fondos distribuidos de la siguiente manera:</p>
      </div>
    </div>
  </main>
-->
  <main class="home col s12">
    <div class="padding z-depth-2 margin">
      <h5>Tus fondos</h5>
      <p>Tienes fondos distribuidos de la siguiente manera:</p>

      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3">
          <a class="active" href="#test-swipe-1">Soles</a>
        </li>
        <li class="tab col s3">
          <a href="#test-swipe-2">Dólares</a>
        </li>
      </ul>
      <div id="test-swipe-1" class="soles col s12">
        <div>
          <h5>Resumen</h5>
          <div>
            <p>Saldo total de tus fondos soles a la fecha</p>
            <p>S/. </p>
          </div>
          <div>
            <p>Rentabilidad desde el inicio</p>
            <span>S/. </span>
            <span> %</span>
          </div>
          <div>
            <a class="waves-effect waves-light btn white black-text">
              <i class="material-icons right"></i>ver por mes</a>
          </div>
        </div>
      </div>
      <div id="test-swipe-2" class="dolares col s12">
        <div>
          <h5>Resumen</h5>
          <div>
            <p>Saldo total de tus fondos dólares a la fecha</p>
            <p>$ </p>
          </div>
          <div>
            <p>Rentabilidad desde el inicio</p>
            <span id="rentabilidad">S/. </span>
            <span id="porcentajeRentabilidad"> %</span>
          </div>
          <div>
            <a class="waves-effect waves-light btn white black-text">
              <i class="material-icons right"></i>ver por mes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="chart col s12 z-depth-2 margin padding">
      <div id="donutchart" ></div>
    </div>
    <div class="row fondos">
      <div class="col s12 m5 z-depth-2 margin padding">
        <div class="border-item col m12">
          <div class="col m2">
            <img src="../assets/images/imagen2.png" width="40" alt="">
          </div>
          <div class= "col m9">
            <h6>IF Libre Disponibilidad de Soles</h6>
            <p>A047883</p>
            <p class="cost">S/. 1623.30</p>
            <p>Saldo a la fecha</p>
          </div>
        </div>
        <div class="border-item col m12">
          <div class="col m2">
            <img src="../assets/images/imagen2.png" width="40" alt="">
          </div>
          <div class="col m9">
            <h6>IF Libre Disponibilidad de Soles</h6>
            <p>A047883</p>
            <p class="cost">S/. 1623.30</p>
            <p>Saldo a la fecha</p>
          </div>
        </div>
        <div class="border-item col m12">
          <div class="col m2">
            <img src="../assets/images/imagen2.png" width="40" alt="">
          </div>
          <div class= "col m9">
            <h6>IF Libre Disponibilidad de Soles</h6>
            <p>A047883</p>
            <p class="cost">S/. 1623.30</p>
            <p>Saldo a la fecha</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6 margin padding lavander">
        <div class="white z-depth-1">
          <div class="col s2 m2">
            <img src="../assets/images/imagen2.png" width="40" alt="">
          </div>
          <div class="col m10">
            <p>IF Libre Disponibilidad de Soles</p>
            <span class="cost rigth">S/. 1623.30</span>
          </div>
        </div>
        <div class="white box">
          <h6>Rentabilidad</h6>
           <span>Dese el inicio</span>
           <span>S/.</span>

        </div>
      </div>
    </div>
    <p class="col s12">
      <a class="waves-effect waves-light btn green1 right">
        <i class="material-icons right">chat</i>
        <span>¡chatea con nosotros!</span>
      </a>
    </p>
  </main>

  <!-- Jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>