<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interfondos</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <h1>hola jessica</h1>
  <p id="user"></p>
  <p id="soles"></p>
  <p id="dolares"></p>
  <p>fondosoles <span id="fondo"></span></p>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <!-- Conexión con Firebase -->
  <script src="../js/conexion.js"></script>
  <!--Login JS personalizado-->
  <script src="../js/prueba.js"></script>
</body>
</html>