<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interseguros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signup.css" />
</head>

<body class="container-fluid">
    <!--================HEADER===================-->
    <header class="signup primaryBackground center">
        <img src="../assets/images/icon-interbank.png" alt="Icon Interbank" class="d-inline-block mr-1">
        <p class="white-text d-inline-block m-0">Interfondos</p>
    </header>
    <!--==============MAIN======================-->
    <main class="main-style">
        <!--======main header====-->
        <div class="color-text">
            <a id="btn-previous-code" class="color-text">
                <i class="material-icons left m-0 ">navigate_before</i>
                <span>Volver</span>
            </a>
        </div>
        <!--======main content====-->
        <div class="color-text container">
            <h4 class="letter-singup center-align ">Crea tu clave web</h4>
            <p class="center-align">Esta clave sera exclusiva apara ingresar a Interfondos</p>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p class="left-align">Clave web</p>
                    <div class="input-field col s12">
                        <input id="keyone" placeholder="Clave web" type="text" class="validate">
                        <p>Entre 6 y 16 caracteres, considerando letras y números</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p class="left-align">Confirma tu clave web</p>
                    <div class="input-field col s12">
                        <input id="keytwo" placeholder="Clave web" type="text" class="validate">
                    </div>
                </div>
            </div>
        </div>
        <form action="#" class="row">
            <p class=" col s8 offset-s2">
              <input type="checkbox" class="filled-in checkbox" id="filled-in-box" />
              <label for="filled-in-box">Acepto los términos y condiciones</label>
            </p>
          </form>
        <div class="center-align">
            <a id="btn-next-code" class="btn-register waves-effect waves-light btn primaryBackground disabled">Finalizar</a>
            <p>enviar de nuevo</p>
        </div>
    </main>
    <!--=====================FOOTER====================-->
    <footer class="page-footer N/A transparent">
        <div class="container">

            <div class="row">
                <div class="col s12">
                    <p class="col s12">
                        <a class="waves-effect waves-light btn N/A transparent primaryColor">
                            <i class="material-icons right ">chat</i>
                            <span>¡chatea con nosotros!</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="../js/signup.js"></script>
</body>

</html>